* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: aliceblue;
  background-color: rebeccapurple;
  height: 20px;
}

nav > .max-nav-link {
  padding: 15px;
}

#the-container-to-hide {
  transition: all 0.5s linear;
  overflow: hidden;
}

#the-container-to-hide.hidden-new {
  width: 0px;
  padding: 0.5rem 0px;
}
